body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b9e3f9;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

/* @media (max-height: 720px) {
  svg {
    transform: scale(0.7);
  }
} */
