:root {
  --white: #ffffff;
  --light-blue: #73b8dc;
  --light-grey: #ecf2f7;
  --blue: #96d8f9;
  --dark-blue: #29789f;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #b9e3f9;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.content {
  max-width: 700px;
  border: 1px solid red;
  width: 90vw;
  height: 70vh;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.person {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20%;
  z-index: 100;
  top: -5%;
}

.avatar {
  display: block;
  width: 22vw;
  height: 22vw;
  border-radius: 100%;
  border: 20px solid var(--dark-blue);
  background-color: var(--white);
  margin: 0 auto -40px;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
}

.vadim {
  display: flex;
  align-items: baseline;
  justify-content: center;
  /* display: none; */
}

.vadim .letter {
  margin-right: -14px;
}

.vadim .v {
  margin-right: -30px;
}

.cto {
  width: 395px;
  position: relative;
  top: -55px;
  right: -107px;
}

.cto-image {
  width: 100%;
}

.contacts {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  width: 100%;
  justify-content: center;
}

.contact {
  margin: 0 1vw;
  display: flex;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 732px;
}

.contact-button {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.contact-button:focus {
  outline: 2px dashed var(--dark-blue);
}

.contact-image {
  width: 100%;
  height: 100%;
}

.trend {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.trend-wrapper {
  position: relative;
  height: 100%;
  border: 1px solid blue;
}

.trend-arrow {
  position: absolute;
  bottom: 74px;
  width: 100%;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
}

.bars {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
}

.bar svg {
  width: 100%;
  height: auto;
}

.ai {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
  max-width: 700px;
  max-height: 700px;
}

.ai-icon {
  position: absolute;
}

.ai-icon-1 {
  width: clamp(0px, 12vw, 180px);
  transform: rotate(-12deg);
  top: max(8vh, 320px);
  left: 0;
}

.ai-icon-2 {
  width: clamp(57px, 3vw, 200px);
  transform: rotate(-16deg);
  top: clamp(12vh, 48vh, 506px);
  right: max(8vw, 323px);
}

.ai-icon-3 {
  width: clamp(0px, 15vw, 220px);
  transform: rotate(16deg);
  top: max(15vh, 333px);
  right: max(-5vw, -95px);
}

.ai-icon-4 {
  width: clamp(0px, 21vh, 250px);
  transform: rotate(25deg);
  top: max(-13vh, -160px);
  right: 0;
}

.ai-icon-5 {
  width: clamp(0px, 20vw, 300px);
  transform: rotate(-27deg);
  top: 0;
  left: max(-10vw, -160px);
}

@media (max-width: 1000px) {
  .content {
    width: 80vw;
  }

  .mobile-scale {
    scale: 0.8;
  }

  .trend-arrow {
    scale: 0.77;
    bottom: 34px;
    transform: translateX(-70%);
  }

  .cto {
    top: -67px;
    right: -71px;
  }
}

@media screen and (max-width: 932px) and (orientation: landscape) {
  .contacts {
    right: 0;
    left: auto;
    transform: none;
    flex-direction: column;
    bottom: 0;
    width: auto;
  }

  .trend {
    bottom: 0;
  }
}
