body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b9e3f9;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.content {
  max-width: 700px;
  border: 1px solid red;
  width: 90vw;
  height: 70vh;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1000px) {
  .content {
    width: 80vw;
  }
}

/* @media (max-height: 720px) {
  svg {
    transform: scale(0.7);
  }
} */
