:root {
  --white: #ffffff;
  --light-blue: #73b8dc;
  --light-grey: #ecf2f7;
  --blue: #96d8f9;
  --dark-blue: #29789f;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #b9e3f9;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.content {
  max-width: 700px;
  border: 1px solid red;
  width: 90vw;
  height: 70vh;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.avatar {
  display: block;
  width: 18vw;
  height: 18vw;
  border-radius: 100%;
  border: 20px solid var(--dark-blue);
  background-color: var(--white);
  margin: 0 auto -40px;
  max-width: 326px;
  max-height: 326px;
  min-width: 200px;
  min-height: 200px;
}

.vadim {
  display: flex;
  align-items: baseline;
  justify-content: center;
  display: none;
}

.vadim .letter {
  margin-right: -14px;
}

.vadim .v {
  margin-right: -30px;
}

.contacts {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.contact {
  margin: 0 1vw;
}

.contact-button {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.contact-button:focus {
  outline: 2px dashed var(--dark-blue);
}

.trend {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.bars {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
}

.bar svg {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .content {
    width: 80vw;
  }

  .mobile-scale {
    scale: 0.8;
  }
}

@media screen and (max-width: 932px) and (orientation: landscape) {
  .contacts {
    right: 0;
    left: auto;
    transform: none;
    flex-direction: column;
    bottom: 0;
  }

  .trend {
    bottom: 0;
  }
}
