:root {
  --white: #ffffff;
  --light-blue: #73b8dc;
  --light-grey: #ecf2f7;
  --blue: #96d8f9;
  --dark-blue: #29789f;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #b9e3f9;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.content {
  max-width: 700px;
  border: 1px solid red;
  width: 90vw;
  height: 70vh;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.person {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20%;
  z-index: 100;
}

.avatar {
  display: block;
  width: 18vw;
  height: 18vw;
  border-radius: 100%;
  border: 20px solid var(--dark-blue);
  background-color: var(--white);
  margin: 0 auto -40px;
  max-width: 326px;
  max-height: 326px;
  min-width: 200px;
  min-height: 200px;
}

.vadim {
  display: flex;
  align-items: baseline;
  justify-content: center;
  /* display: none; */
}

.vadim .letter {
  margin-right: -14px;
}

.vadim .v {
  margin-right: -30px;
}

.contacts {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  width: 100%;
  justify-content: center;
}

.contact {
  margin: 0 1vw;
  display: flex;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 732px;
}

.contact-button {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.contact-button:focus {
  outline: 2px dashed var(--dark-blue);
}

.contact-image {
  width: 100%;
  height: 100%;
}

.trend {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.trend-wrapper {
  position: relative;
  height: 100%;
  border: 1px solid blue;
}

.trend-arrow {
  position: relative;
  text-align: center;
  bottom: -194px;
  width: 100%;
  left: -3%;
}

.bars {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
}

.bar svg {
  width: 100%;
  height: auto;
}

.ai {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

.ai-icon {
  position: absolute;
}

.ai-icon-1 {
  width: 12vw;
  transform: rotate(-12deg);
  top: 29vh;
  left: 0;
  max-width: 180px;
}

.ai-icon-2 {
  width: 5vw;
  transform: rotate(-16deg);
  top: 35vh;
  right: 9vw;
  max-width: 200px;
}

.ai-icon-3 {
  width: 15vw;
  transform: rotate(16deg);
  top: 39vh;
  right: -5vw;
  max-width: 220px;
}

.ai-icon-4 {
  width: 6vw;
  transform: rotate(25deg);
  top: 0;
  right: 0;
  max-width: 250px;
}

.ai-icon-5 {
  width: 20vw;
  transform: rotate(-27deg);
  top: 0;
  left: -10vw;
  max-width: 300px;
}

@media (max-width: 1000px) {
  .content {
    width: 80vw;
  }

  .mobile-scale {
    scale: 0.8;
  }

  .trend-arrow {
    scale: 0.77;
    bottom: -229px;
  }
}

@media screen and (max-width: 932px) and (orientation: landscape) {
  .contacts {
    right: 0;
    left: auto;
    transform: none;
    flex-direction: column;
    bottom: 0;
    width: auto;
  }

  .trend {
    bottom: 0;
  }
}
