body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b9e3f9;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
#cloud1 {
  position: absolute;
  width: 20vw;
  top: 5vh;
  right: -40vw;
}
#cloud2 {
  position: absolute;
  width: 20vw;
  top: 26vh;
  right: -40vw;
}
#cloud3 {
  position: absolute;
  width: 10vw;
  top: 21vh;
  right: -20vw;
}
#cloud4 {
  position: absolute;
  width: 30vw;
  top: 30vh;
  right: -40vw;
}
#cloud5 {
  position: absolute;
  width: 4vw;
  top: 15vh;
  right: -20vw;
}
.cloud-background {
  fill: #ffffff;
}
.cloud-shadow {
  fill: #ecf2f7;
}

/* @media (max-height: 720px) {
  svg {
    transform: scale(0.7);
  }
} */
